---
ms.openlocfilehash: 5ddc6b8bf49920a6b876c9d87ec749b411052130
ms.sourcegitcommit: fcf3546b7cc208155fb8acdf68b81be28afc3d2d
ms.translationtype: HT
ms.contentlocale: es-ES
ms.lasthandoff: 09/11/2022
ms.locfileid: "145123369"
---
Si quieres vender una aplicación que pertenece a tu cuenta personal, primero necesitarás transferirla a una organización y luego solicitar la verificación de un listado que cree dicha organización.
