Si quieres vender una app que pertenece a tu cuenta de usuario, primero necesitarás transferirla a una organización y luego solicitar la verificación de un listado que cree dicha organización.
