Si quieres vender una app que le pertenezca a tu cuenta personal, primero necesitas transferirla a una organización y luego solicitar la verificación de un listado que haya creado la organziación.
