.containerBox {
  padding-top: 24px;
  max-width: 720px;
  margin: 0 auto;
  align-content: center;
  column-gap: 80px;
  row-gap: 0;
  grid-template-areas:
    "topper"
    "intro"
    "sidebar"
    "content";
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(300px, 720px);
  display: grid;

  @media (min-width: 720px) {
    display: grid;
    justify-items: flex-start;
    justify-content: center;
  }
}

.sidebarBox {
  width: 100%;
}

.articleContainer {
  max-width: 720px;
}
