启用电子邮件限制后，成员可以在您已验证或已批准域内的已验证电子邮件地址接收电子邮件通知。 更多信息请参阅“[验证电子邮件地址](/github/getting-started-with-github/verifying-your-email-address)”。
