---
ms.openlocfilehash: 7bfa46be685d6037a5f72573a48d9c5c0cb8927f
ms.sourcegitcommit: 47bd0e48c7dba1dde49baff60bc1eddc91ab10c5
ms.translationtype: HT
ms.contentlocale: zh-CN
ms.lasthandoff: 09/05/2022
ms.locfileid: "145100650"
---
{% ifversion fpt or ghec %}要在你启用限制后继续接收电子邮件通知，成员必须验证你验证或批准的域中的任何电子邮件地址。 有关详细信息，请参阅“[验证电子邮件地址](/github/getting-started-with-github/verifying-your-email-address)”。{% endif %}
