{% ifversion fpt or ghec %}要在启用限制后继续接收电子邮件通知，成员必须验证您验证或批准的域中的任何电子邮件地址。 更多信息请参阅“[验证电子邮件地址](/github/getting-started-with-github/verifying-your-email-address)”。{% endif %}
