.sidebarArticle::before {
  content: "";
  position: absolute;
  left: 26px;
  height: 100%;
  border-left: 1px solid var(--color-text-primary);
  width: 1px;
  top: 0;
}

.sidebarArticleActive::before {
  border-left-width: 2px;
}
