---
ms.openlocfilehash: 5ddc6b8bf49920a6b876c9d87ec749b411052130
ms.sourcegitcommit: fcf3546b7cc208155fb8acdf68b81be28afc3d2d
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 09/10/2022
ms.locfileid: "145096640"
---
Se você desejar vender um aplicativo que pertence à sua conta pessoal, primeiro você deverá transferir o aplicativo para uma organização e, em seguida, solicitar a verificação para um anúncio criado pela organização.
