---
title: Gerenciar a verificação de assinatura de commit
intro: 'You can sign your work locally using GPG or S/MIME. {% data variables.product.product_name %} irá verificar essas assinaturas para que outras pessoas saibam que seus commits vêm de uma fonte de confiança. {% if currentVersion == "free-pro-team@latest" %} {% data variables.product.product_name %} irá assinar automaticamente os commits que você fizer usando a interface da web.{% data variables.product.product_name %}{% endif %}'
redirect_from:
  - /articles/generating-a-gpg-key/
  - /articles/signing-commits-with-gpg/
  - /articles/managing-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
  github-ae: '*'
---

