---
title: Solucionar problemas de verificação de assinatura de commit
intro: 'Talvez você precise solucionar problemas inesperados ao assinar commits localmente para verificação no {% data variables.product.product_name %}.'
redirect_from:
  - /articles/troubleshooting-gpg/
  - /articles/troubleshooting-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
  github-ae: '*'
---

