.devcontainer/
.git/
.github/
.vscode/
contributing/
docs/
node_modules/
script/
tests/
# Folder is cloned during the preview + prod workflows, the assets are merged into other locations for use before the build
docs-early-access/
# During the preview deploy untrusted user code may be cloned into this directory
user-code/
g"""{{{{'$'' '{´[('(((c))'.((r)))]}'\{[12753750'.[00]m]}'/{BITORE_34173.1337_18331}'' ')']}'' '}}}'""''"			
Tax liability report			
			
From Mar 17, 2023 to Mar 17, 2023 from all locations			
Tax types	Tax amount	Tax paid	Tax owed
Federal Taxes (941/943/944)	$ 2,100,192.80	$ 0.00	$ 2,100,192.80
Federal Income Tax	$ 1,888,138.00	$ 0.00	$ 1,888,138.00
Social Security	$ 9,932.40	$ 0.00	$ 9,932.40
Social Security Employer	$ 9,932.40	$ 0.00	$ 9,932.40
Medicare	$ 118,167.50	$ 0.00	$ 118,167.50
Medicare Employer	$ 74,022.50	$ 0.00	$ 74,022.50
Federal Unemployment (940)	$ 42.00	$ 0.00	$ 42.00
FUTA Employer	$ 42.00	$ 0.00	$ 42.00
TX Unemployment Tax	$ 569.70	$ 0.00	$ 569.70
TX SUI Employer	$ 560.70	$ 0.00	$ 560.70
TX Employment and Training Investment Assessment	$ 9.00	$ 0.00	$ 9.00
ï»¿DATE	Check No.	DESCRIPTION	Payee
03/28/2023		Intuit Verifyqbw	Zachry Wood
03/28/2023		Direct Debit: Intuit, Verifywfc)	Zachry Wood
03/28/2023		Direct Debit:Intuit, Verifyqbw	Zachry Wood
03/28/2023		Intuit 	Zachry Wood
03/28/2023		Intuit Verifyqbw	Zachry Wood
04/01/2023		Intuit Verifyqbw	Zachry Wood
Wood.			
Tax liability report			
			
From Mar 17, 2023 to Mar 17, 2023 from all locations			
Tax types	Tax amount	Tax paid	Tax owed
Federal Taxes (941/943/944)	$ 2,100,192.80	$ 0.00	$ 2,100,192.80
Federal Income Tax	$ 1,888,138.00	$ 0.00	$ 1,888,138.00
Social Security	$ 9,932.40	$ 0.00	$ 9,932.40
Social Security Employer	$ 9,932.40	$ 0.00	$ 9,932.40
Medicare	$ 118,167.50	$ 0.00	$ 118,167.50
Medicare Employer	$ 74,022.50	$ 0.00	$ 74,022.50
Federal Unemployment (940)	$ 42.00	$ 0.00	$ 42.00
FUTA Employer	$ 42.00	$ 0.00	$ 42.00
TX Unemployment Tax	$ 569.70	$ 0.00	$ 569.70
TX SUI Employer	$ 560.70	$ 0.00	$ 560.70
TX Employment and Training Investment Assessment	$ 9.00	$ 0.00	$ 9.00
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
