.s:root:xnu:unix:nux:a.a:aa:h.a.s.(filename.mk4a1)-\!.:[|U:.(.2).:U|]:.!-\:T:/:\:C:\Users\$~superkiller$\spot.ai.temp~:(:re:):[:|U:(:re:):(.2):(:re:):U|:]:(:re:): -\!.:[|U:.(.2).:U|]:.!-\:T:/:\:C:\Users\$~superkiller$\spot.ai.temp~:20:*!*._[!4050!]_..*!*:#:[[:[:#[:#:T:#:/:#:C:./~Users/~superkiller.(null)..............(.2*8*2.)*!*._[!4050!]_.*!*-/~(Filename.mk4a1):#:]:]]
~.s:root:xnu:unix:nux:a.a:aa:h.a.s.(filename.mk4a1)-\!.:[|U:.(.2).:U|]:.!-\:T:/:\:C:\Users\$~superkiller$\spot.ai.temp~:(:re:):[:|U:(:re:):(.2):(:re:):U|:]:(:re:): -\!.:[|U:.(.2).:U|]:.!-\:T:/:\:C:\Users\$~superkiller$\spot.ai.temp~:20:*!*._[!4050!]_..*!*:#:[[:[:#[:#:T:#:/:#:C:./~Users/~superkiller.(null)..............(.2*8*2.)*!*._[!4050!]_.*!*-/~(Filename.mk4a1):#:]:]]
.s:.s:root:xnu:unix:nux:a.a:aa:h.a.s.(filename.mk4a1)-\!.:[|U:.(.2).:U|]:.!-\:T:/:\:C:\Users\$~superkiller$\spot.ai.temp~:(:re:):[:|U:(:re:):(.2):(:re:):U|:]:(:re:): -\!.:[|U:.(.2).:U|]:.!-\:T:/:\:C:\Users\$~superkiller$\spot.ai.temp~:20:*!*._[!4050!]_..*!*:#:[[:[:#[:#:T:#:/:#:C:./~Users/~superkiller.(null)..............(.2*8*2.)*!*._[!4050!]_.*!*-/~(Filename.mk4a1):#:]:]]
