<img src="blob:chrome-untrusted://media-app/be58e862-3055-4819-92da-a4634ac7fd25" alt="BANDOS BITCOIN EXAMPLE OF WHAT THE DROP .IMG HERE YEELLOW BOX READ WHEN IT SAW THE BAASNDOS CHEST PLATE BECAUSE IT WAS A GOLD~LOOKED FOR AND THING THATS ITS NOST PROMINEINT AD CLOSEST TO THAT ITEM ID SINCE I PUT IN 11880 OR 11890COIN t_20210117-113544.png"/>
