.search-cache
.DS_Store
.env
.vscode/settings.json
.idea/
/node_modules/
npm-debug.log
coverage/
/assets/images/early-access
/content/early-access
/data/early-access
/src/dev-toc/static
.next
.eslintcache
*.tsbuildinfo
/translations/
.node-version
.linkinator/full.log
next-env.d.ts

# blc: broken link checker
blc_output.log
blc_output_internal.log
broken_links.md
# This one is purely for historical reasons because so many people might
# still have these files on their disk.
lib/redirects/.redirects-cache*.json

# During the preview deploy untrusted user code may be cloned into this directory
# We ignore it from git to keep things deterministic
user-code/

# Logs from scripts
*/logs/
external-link-checker-db.json

# Playwright related
/test-results/
/playwright-report/
/playwright/.cache/

# Automated content source
rest-api-description
semmle-code

.installed.package-lock.json
assets/images/help/writing/unordered-list-rendered (1).png

# Used by getRemoteJSON()
.remotejson-cache/

# Used by precompute-pageinfo
.pageinfo-cache.json.br
