# Set default behavior, in case users don't have core.autocrlf set.
* text=auto
# Explicitly declare text files we want to always be normalized, and for
# Markdown files, enforce LF line endings on checkout.
*.md text eol=lf diff=markdown
*.json.br filter=lfs diff=lfs merge=lfs -text
.github/workflows/*.lock.yml linguist-generated=true merge=ours
