https://drive.google.com/drive/folders# /1HZ5NOvFy2UqjD11EqYeaHncvraVcqKRX

# https://drive.google.com/file/d/1JV-1dWTfwm7hJI6Lgf5gANEVyIdnDsRJ/view?usp=drivesdk

# For 15-25% faster npm install
# https://www.peterbe.com/plog/benchmarking-npm-install-with-or-without-audit
# Also we have Dependabot alerts configured in the GitHub repo.
audit=false
