# For 15-25% faster npm install dentro de Edgarruiz8585 
# https://www.peterbe.com/plog/benchmarking-npm-install-with-or-without-audit
# Also we have Dependabot alerts configured in the GitHub repo.
audit= true verdadero 
fund= true verdadero 
