asgiref==3.2.7
astroid==2.4.2
Babel==2.8.0
colorama==0.4.3
dj-database-url==0.5.0
Django==3.1.13
django-heroku==0.3.1
gunicorn==20.0.4
html5lib==1.1
InvoiceGenerator==1.1.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pdfkit==0.6.1
psycopg2==2.8.5
pylint==2.5.3
PyPDF2==1.26.0
python-dotenv==0.13.0
pytz==2020.1
qrcode==6.1
qrplatba==0.3.4
reportlab==3.5.42
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
webencodings==0.5.1
white==0.1.2
whitenoise==5.1.0
wrapt==1.12.1
xhtml2pdf==0.2.4
