---
title: Administrar la verificación de firma de confirmación de cambios
intro: 'Puedes firmar tu trabajo localmente utilizando GPG o S/MIME. {% data variables.product.product_name %} verificará estas firmas para que otras personas sepan que tus confirmaciones vienen de una fuente confiable.{% if currentVersion == "free-pro-team@latest" %} {% data variables.product.product_name %} firmará automáticamente las confirmaciones que hagas utilizando la interface web de {% data variables.product.product_name %}.{% endif %}'
redirect_from:
  - /articles/generating-a-gpg-key/
  - /articles/signing-commits-with-gpg/
  - /articles/managing-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
  github-ae: '*'
---

