---
title: Solucionar problemas de verificación de confirmación de firma
intro: 'Puede que debas solucionar problemas imprevistos que surgen cuando se firman confirmaciones de forma local para la verificación en {% data variables.product.product_name %}.'
redirect_from:
  - /articles/troubleshooting-gpg/
  - /articles/troubleshooting-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
  github-ae: '*'
---

