ドメインを検証することで、Enterprise アカウントが所有する Organization のプロファイルにリストされている Web サイトとメールアドレスが Enterprise によって管理されていることを確認できます。 Enterpriseアカウントの検証済みドメインは、そのEnterpriseアカウントが所有するすべてのOrganizationに適用されます。

Enterprise アカウントのドメインの所有権を検証すると、プロファイルにドメインがリストされている各 Organization のプロファイルに「検証済み」のバッジが表示されます。 {% data reusables.organizations.verified-domains-details %}

Organization のオーナーは、検証済みのドメインにある各メンバーのメールアドレスを表示して Organization のメンバーのアイデンティティを確認できます。

Enterprise アカウントのドメインを検証した後、Enterprise アカウントが所有するすべての Organization の検証済みドメインにメール通知を制限できます。 詳しい情報については「[Enterpriseアカウントのメール通知の制限](/github/setting-up-and-managing-your-enterprise/restricting-email-notifications-for-your-enterprise-account)」を参照してください。

Enterprise アカウントのメール通知を制限しない場合でも、Organization のオーナーが Organization のメール通知を制限している場合、Organization のメンバーは、Organizationで検証済みあるいは承認済みのドメインに加えて、Enterprise アカウントで検証済みあるいは承認済みのドメインから通知を受信できます。 Organization の通知を制限する方法について詳しくは、「[Organizationのメール通知を制限する](/organizations/keeping-your-organization-secure/restricting-email-notifications-for-your-organization)」を参照してください。

Organizationのオーナーは、自分のOrganizatinのための追加ドメインを検証することもできます。 詳しい情報については「[Organizationのドメインの検証もしくは承認](/organizations/managing-organization-settings/verifying-or-approving-a-domain-for-your-organization)」を参照してください。
