ドメインを検証することで、Enterprise アカウントが所有する Organization のプロファイルにリストされている Web サイトとメールアドレスが Enterprise によって管理されていることを確認できます。 Verified domains for an enterprise account apply to every organization owned by the enterprise account.

Enterprise アカウントのドメインの所有権を検証すると、プロファイルにドメインがリストされている各 Organization のプロファイルに「検証済み」のバッジが表示されます。 {% data reusables.organizations.verified-domains-details %}

Organization のオーナーは、検証済みのドメインにある各メンバーのメールアドレスを表示して Organization のメンバーのアイデンティティを確認できます。

Enterprise アカウントのドメインを検証した後、Enterprise アカウントが所有するすべての Organization の検証済みドメインにメール通知を制限できます。 For more information, see "[Restricting email notifications for your enterprise account](/github/setting-up-and-managing-your-enterprise/restricting-email-notifications-for-your-enterprise-account)."

Even if you don't restrict email notifications for the enterprise account, if an organization owner has restricted email notifications for the organization, organization members will be able to receive notifications at any domains verified or approved for the enterprise account, in addition to any domains verified or approved for the organization. For more information about restricting notifications for an organization, see "[Restricting email notifications for your organization](/organizations/keeping-your-organization-secure/restricting-email-notifications-for-your-organization)."

Organization owners can also verify additional domains for their organizations. For more information, see "[Verifying or approving a domain for your organization](/organizations/managing-organization-settings/verifying-or-approving-a-domain-for-your-organization)."
