@import "@primer/css/support/index.scss";
@import "stylesheets/breakpoint-xxl.scss";

.aside {
  @include breakpoint(md) {
    width: 8rem;
    height: calc(100vh - 105px);
    top: 105px;
  }

  @include breakpoint-xxl {
    height: calc(100vh - 65px);
    top: 65px;
  }
}
