---
ms.openlocfilehash: 5ddc6b8bf49920a6b876c9d87ec749b411052130
ms.sourcegitcommit: fcf3546b7cc208155fb8acdf68b81be28afc3d2d
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 09/10/2022
ms.locfileid: "145108279"
---
Wenn du eine App im Besitz deines persönlichen Kontos verkaufen möchtest, musst du zuerst die App an eine Organisation übertragen und dann eine Überprüfung für ein von der Organisation erstelltes Angebot anfordern.
