---
ms.openlocfilehash: 5ddc6b8bf49920a6b876c9d87ec749b411052130
ms.sourcegitcommit: fcf3546b7cc208155fb8acdf68b81be28afc3d2d
ms.translationtype: HT
ms.contentlocale: fr-FR
ms.lasthandoff: 09/10/2022
ms.locfileid: "145108278"
---
Si vous souhaitez vendre une application appartenant à votre compte personnel, vous devez d’abord la transférer à une organisation, puis demander une vérification de la liste créée par l’organisation.
