---
ms.openlocfilehash: 5ddc6b8bf49920a6b876c9d87ec749b411052130
ms.sourcegitcommit: fcf3546b7cc208155fb8acdf68b81be28afc3d2d
ms.translationtype: HT
ms.contentlocale: zh-CN
ms.lasthandoff: 09/10/2022
ms.locfileid: "145100734"
---
如果你想销售个人帐户拥有的应用，需要先将应用转移到组织，然后请求验证组织创建的列表。
