---
ms.openlocfilehash: 7bfa46be685d6037a5f72573a48d9c5c0cb8927f
ms.sourcegitcommit: fb047f9450b41b24afc43d9512a5db2a2b750a2a
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 09/11/2022
ms.locfileid: "145096556"
---
{% ifversion fpt or ghec %}Para continuar recebendo notificações por email depois de habilitar as restrições, os membros precisam verificar os endereços de email nos domínios que você verificar ou aprovar. Para obter mais informações, confira "[Como verificar seu endereço de email](/github/getting-started-with-github/verifying-your-email-address)".{% endif %}
