---
ms.openlocfilehash: 7bfa46be685d6037a5f72573a48d9c5c0cb8927f
ms.sourcegitcommit: 47bd0e48c7dba1dde49baff60bc1eddc91ab10c5
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 09/05/2022
ms.locfileid: "145096556"
---
{% ifversion fpt or ghec %}Para continuar recebendo notificações por email depois de habilitar as restrições, os membros precisam verificar os endereços de email nos domínios que você verificar ou aprovar. Para obter mais informações, confira "[Como verificar seu endereço de email](/github/getting-started-with-github/verifying-your-email-address)".{% endif %}
