---
title: コミット署名の検証を管理する
intro: 'GPG {% if currentVersion == "free-pro-team@latest" or currentVersion ver_gt "enterprise-server@2.14" %}または S/MIME {% endif %}を使用して、作業にローカルで署名できます。 信頼できるソースによるコミットであることを他のユーザに知らせるために、{% data variables.product.product_name %} はこの署名を検証します。{% if currentVersion == "free-pro-team@latest" %} {% data variables.product.product_name %} は、{% data variables.product.product_name %} Web インターフェイスを使用して自動的にコミットに署名します。{% endif %}'
redirect_from:
  - /articles/generating-a-gpg-key/
  - /articles/signing-commits-with-gpg/
  - /articles/managing-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
---

