メールの制限を有効化すると、メンバーは検証済みあるいは承認済みのドメイン内の検証済みメールアドレスでメール通知を受信できるようになります。 詳細は「[メールアドレスを検証する](/github/getting-started-with-github/verifying-your-email-address)」を参照してください。
