---
ms.openlocfilehash: 7bfa46be685d6037a5f72573a48d9c5c0cb8927f
ms.sourcegitcommit: fb047f9450b41b24afc43d9512a5db2a2b750a2a
ms.translationtype: HT
ms.contentlocale: ja-JP
ms.lasthandoff: 09/11/2022
ms.locfileid: "145123030"
---
{% ifversion fpt or ghec %}制限を有効にした後も引き続きメール通知を受信するには、確認または承認するドメイン内のメール アドレスをメンバーが確認する必要があります。 詳細については、「[メール アドレスの確認](/github/getting-started-with-github/verifying-your-email-address)」を参照してください。{% endif %}
