---
ms.openlocfilehash: 7bfa46be685d6037a5f72573a48d9c5c0cb8927f
ms.sourcegitcommit: fb047f9450b41b24afc43d9512a5db2a2b750a2a
ms.translationtype: HT
ms.contentlocale: fr-FR
ms.lasthandoff: 09/11/2022
ms.locfileid: "145108110"
---
{% ifversion fpt or ghec %}Pour continuer à recevoir des notifications par e-mail après avoir activé des restrictions, les membres doivent vérifier toutes les adresses e-mail dans les domaines que vous vérifiez ou approuvez. Pour plus d’informations, consultez « [Vérification de votre adresse e-mail](/github/getting-started-with-github/verifying-your-email-address) ».{% endif %}
