@import "@primer/css/color-modes/index.scss"; // Must come first
@import "@primer/css/core/index.scss"; // Must come second

// Primer components
@import "@primer/css/markdown/index.scss";
@import "@primer/css/labels/index.scss";
@import "@primer/css/avatars/avatar.scss";
@import "@primer/css/alerts/index.scss";
@import "@primer/css/popover/index.scss";

@import "headings.scss";
@import "scroll-top.scss";
@import "utilities.scss";

@import "src/content-render/stylesheets/index.scss";
@import "src/links/stylesheets/hover-card.scss";
