---
ms.openlocfilehash: 7bfa46be685d6037a5f72573a48d9c5c0cb8927f
ms.sourcegitcommit: fb047f9450b41b24afc43d9512a5db2a2b750a2a
ms.translationtype: HT
ms.contentlocale: ru-RU
ms.lasthandoff: 09/11/2022
ms.locfileid: "145123032"
---
{% ifversion fpt or ghec %} Чтобы продолжить получать уведомления по электронной почте после включения ограничений, участники должны проверить все адреса электронной почты в доменах, которые вы проверяете или утверждаете. Дополнительные сведения см. в статье [Проверка адреса электронной почты](/github/getting-started-with-github/verifying-your-email-address).{% endif %}
