---
ms.openlocfilehash: 5ddc6b8bf49920a6b876c9d87ec749b411052130
ms.sourcegitcommit: 47bd0e48c7dba1dde49baff60bc1eddc91ab10c5
ms.translationtype: HT
ms.contentlocale: ja-JP
ms.lasthandoff: 09/05/2022
ms.locfileid: "145123366"
---
自分の個人アカウントが所有するアプリケーションを販売したいなら、まずそのアプリケーションを Organization に移譲し、続いてその Organization が作成したリストのための検証をリクエストしてください。
