---
ms.openlocfilehash: 5ddc6b8bf49920a6b876c9d87ec749b411052130
ms.sourcegitcommit: fcf3546b7cc208155fb8acdf68b81be28afc3d2d
ms.translationtype: HT
ms.contentlocale: ja-JP
ms.lasthandoff: 09/10/2022
ms.locfileid: "145123366"
---
自分の個人アカウントが所有するアプリケーションを販売したいなら、まずそのアプリケーションを Organization に移譲し、続いてその Organization が作成したリストのための検証をリクエストしてください。
