.visuallyHidden {
  opacity: 0;
  margin: -0.4em;
}

.customRadio:focus + label {
  outline: 2px solid var(--fgColor-accent, var(--color-accent-fg));
  outline-offset: -2px;
  box-shadow: 0 0 0 3px inset;
}
