.visuallyHidden {
  opacity: 0;
  margin: -0.4em;
}

.customRadio:focus + label {
  outline: 2px auto Highlight; // for firefox
  outline: 2px auto -webkit-focus-ring-color;
  // var(--fgColor-accent, var(--color-accent-fg))
}
