---
ms.openlocfilehash: 7bfa46be685d6037a5f72573a48d9c5c0cb8927f
ms.sourcegitcommit: fb047f9450b41b24afc43d9512a5db2a2b750a2a
ms.translationtype: HT
ms.contentlocale: ko-KR
ms.lasthandoff: 09/11/2022
ms.locfileid: "145123031"
---
{% ifversion fpt or ghec %}제한을 사용하도록 설정한 후에도 메일 알림을 계속 받으려면 여러분이 확인하거나 승인하는 도메인 내의 메일 주소를 구성원이 확인해야 합니다. 자세한 내용은 “[메일 주소 확인](/github/getting-started-with-github/verifying-your-email-address)”을 참조하세요.{% endif %}
