.container code {
  font-size: 85%; // Same as markdown-body code
  background-color: var(--color-canvas-subtle); // Same as markdown-body code
  border-radius: 6px; // Same as markdown-body code
  padding: 0.1em 0.2em; // Same as markdown-body code
}
