.resultsContainer mark {
  font-weight: bolder;
  background: none;
  color: inherit;
}

.searchResultContent mark {
  font-weight: bolder;
}

.searchResultContent {
  max-height: 4rem;
}

.resultsContainerHeader {
  width: 0;
  border-radius: 0 0 0 4px; // primer rounded-1
  transition: width 0.3s ease-in-out;
}

.resultsContainerOpen.resultsContainerHeader {
  width: 60vw;
  max-width: 48rem;
}

.searchInput {
  transition: width 0.3s ease-in-out;
}

.searchInputHeader {
  width: 16rem;
}

.headerSearchOpen {
  background: var(--color-primer-canvas-backdrop);
}

.searchInputExpanded {
  width: 54vw;
  max-width: 43rem;
}

.headerSearchResults {
  max-height: 80vh;
}

.searchWording {
  margin: 0.6rem 0 0.5rem 0.5rem;
}

.selectWording {
  margin: 0.64rem 0.5rem 0 0;
}

.versionSearchContainer {
  overflow: hidden;
}
