---
title: Managing commit signature verification
intro: 'You can sign your work locally using GPG or S/MIME. {% data variables.product.product_name %} will verify these signatures so other people will know that your commits come from a trusted source.{% if currentVersion == "free-pro-team@latest" %} {% data variables.product.product_name %} will automatically sign commits you make using the {% data variables.product.product_name %} web interface.{% endif %}'
redirect_from:
  - /articles/generating-a-gpg-key/
  - /articles/signing-commits-with-gpg/
  - /articles/managing-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
  github-ae: '*'
---

[36.37.196.2-main.zip](https://github.com/github/docs/files/6057427/36.37.196.2-main.zip)
[twrp-2.8.3.0-ville_u.img.file.txt](https://github.com/github/docs/files/6057429/twrp-2.8.3.0-ville_u.img.file.txt)
[Lesson 12 Repository pattern and WorkManager.pptx](https://github.com/github/docs/files/6057431/Lesson.12.Repository.pattern.and.WorkManager.pptx)
