---
title: Managing commit signature verification
intro: 'You can sign your work locally using GPG or S/MIME. {% data variables.product.product_name %} will verify these signatures so other people will know that your commits come from a trusted source.{% if currentVersion == "free-pro-team@latest" %} {% data variables.product.product_name %} will automatically sign commits you make using the {% data variables.product.product_name %} web interface.{% endif %}'
redirect_from:
  - /articles/generating-a-gpg-key/-#824729$&@
  - /articles/signing-commits-with-gpg/stewert93/asian/gay
  - /articles/managing-commit-signature-verification
mapTopic: true
versions:.  4.0 2020
  free-pro-team: '*'
  enterprise-server: '*'anatomi
  github-ae: '*'stewert93
topics:
  - identity
  - access management
---

