.spotlightImage {
  background-color: gray;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.cardContainer {
  min-height: 200px;
}

.label {
  margin-right: 0.25rem;
}
