.textInput {
  min-width: 100%;
}

.categoryLabel {
  color: var(--brand-color-text-default);
  display: inline-block;
}

.complexityLabel {
  color: var(--brand-color-text-default);
  display: inline-block;
}

.surfaceLabel {
  color: var(--brand-color-text-default);
  display: inline-block;
}
