.linkItem {
  border-radius: 0;

  &:hover {
    border-radius: 0;
  }

  a {
    span {
      user-select: text;
      color: var(--fgColor-accent, var(--color-accent-fg));
      text-decoration: underline;
    }
  }
}
