---
ms.openlocfilehash: 5ddc6b8bf49920a6b876c9d87ec749b411052130
ms.sourcegitcommit: fcf3546b7cc208155fb8acdf68b81be28afc3d2d
ms.translationtype: HT
ms.contentlocale: ru-RU
ms.lasthandoff: 09/10/2022
ms.locfileid: "145123368"
---
Если вы хотите продать приложение, принадлежащее вашей личной учетной записи, сначала необходимо перенести приложение в организацию, а затем запросить проверку для листинга, созданного организацией.
