.indentNested {
  padding-inline-start: 0;
}

.nested {
  ul div li {
    padding-left: 4em;
  }
  li {
    padding-left: 2em;
  }
}

.miniToc {
  li a {
    padding: 4px 0 4px 0;
    margin-left: 7px;
    overflow-wrap: anywhere;
  }
}
