---
title: Checking your commit and tag signature verification status
intro: 'You can check the verification status of your commit and tag signatures on 

## Further reading

- "[phone number two step verification/authentication/managing-commit-signature-verification/about-commit-signature-verification)"
- phone number verificationcode"
