Bỏ qua nội dung chính
Trung tâm trợ giúp Cộng đồng Thông báo
Tài khoản của bạn: manhhatthien51@gmail.com, thiếu thông tin khôi phục. Nếu bạn bị khóa khỏi tài khoản, thông tin khôi phục sẽ giúp bạn đăng nhập lại. Thêm thông tin khôi phục Mặt sau: 
Subhasmita.
Quản lý cộng đồng
•Poster gốc: Ngày 8 tháng 9 năm 2023
25 khoảnh khắc lớn nhất trong Tìm kiếm, từ hình ảnh hữu ích đến AI
Thông báo:
Sau đây là cách chúng tôi đã làm cho Tìm kiếm trở nên hữu ích hơn trong hơn 25 năm qua — và cũng có một chút niềm vui trong suốt quá trình đó.
Khi Google lần đầu ra mắt cách đây 25 năm, nó không phải là công cụ tìm kiếm đầu tiên. Nhưng Google Search nhanh chóng được biết đến với khả năng giúp kết nối mọi người với thông tin chính xác mà họ đang tìm kiếm, nhanh hơn họ từng nghĩ là có thể.
Trong nhiều năm qua, chúng tôi đã liên tục đổi mới và  cải thiện Google Tìm kiếm mỗi ngày . Từ việc tạo ra những cách tìm kiếm hoàn toàn mới, đến việc giúp hàng triệu doanh nghiệp kết nối với khách hàng thông qua danh sách tìm kiếm và quảng cáo (bắt đầu với một doanh nghiệp địa phương quảng cáo qua AdWords vào năm 2001), đến việc vui chơi với Doodles và trứng Phục sinh — đó thực sự là một hành trình.
Nhân dịp kỷ niệm 25 năm thành lập, chúng tôi xin nhìn lại một số cột mốc giúp Google trở nên hữu ích hơn trong những thời điểm quan trọng và đóng vai trò lớn trong vị thế của Google ngày nay. Tìm hiểu thêm về lịch sử của chúng tôi tại  trang web Search Through Time  .
 
2001: Hình ảnh của Google
Khi Jennifer Lopez tham dự lễ trao giải Grammy năm 2000,  chiếc váy Versace táo bạo của cô  đã trở thành huyền thoại thời trang ngay lập tức — và là truy vấn phổ biến nhất trên Google vào thời điểm đó. Vào thời điểm đó, kết quả tìm kiếm chỉ là danh sách các liên kết màu xanh lam, vì vậy mọi người không thể dễ dàng tìm thấy hình ảnh họ đang tìm kiếm. Điều này đã truyền cảm hứng cho chúng tôi tạo ra  Google Images .
 
2001: “Ý anh là?”
"Did you mean", với các đề xuất sửa lỗi chính tả, là một trong những ứng dụng đầu tiên của chúng tôi về máy học. Trước đây, nếu tìm kiếm của bạn có lỗi chính tả (như "floorescent"), chúng tôi sẽ giúp bạn tìm  các trang khác  có lỗi chính tả tương tự, thường không phải là các trang tốt nhất về chủ đề này. Trong nhiều năm qua, chúng tôi đã  phát triển các kỹ thuật mới do AI cung cấp  để đảm bảo rằng ngay cả khi ngón tay của bạn trượt trên bàn phím, bạn vẫn có thể tìm thấy những gì mình cần.

2002: Tin tức Google
Trong sự kiện bi thảm ngày 11 tháng 9 năm 2001, mọi người đã phải vật lộn để tìm thông tin kịp thời trong Tìm kiếm. Để đáp ứng nhu cầu về tin tức thời gian thực, chúng tôi đã ra mắt  Google Tin tức  vào năm sau với các liên kết đến nhiều nguồn khác nhau cho bất kỳ câu chuyện nào.
 
2003: Trứng Phục sinh
Những người dùng Google đã phát triển nhiều  quả trứng Phục sinh thông minh  ẩn trong Tìm kiếm trong nhiều năm. Vào năm 2003, một trong những quả trứng Phục sinh đầu tiên của chúng tôi đã đưa ra câu  trả lời cho cuộc sống, vũ trụ và mọi thứ , và kể từ đó, hàng triệu người đã lật trang của họ  một cách lệch lạc ,  thực hiện một cú lộn nhào , thích thú với một  vòng lặp đệ quy vui nhộn  và những khoảnh khắc đáng nhớ trong văn hóa đại chúng.

Một trong những quả trứng Phục sinh đầu tiên của chúng tôi vẫn còn có trên Tìm kiếm.
 
2004: Tự động hoàn thành
Sẽ thật tuyệt nếu bạn có thể gõ nhanh như bạn nghĩ phải không? Gợi ý  Tự động hoàn thành : một tính năng đầu tiên được ra mắt với tên gọi “Google Suggest” tự động dự đoán các truy vấn trong thanh tìm kiếm khi bạn bắt đầu nhập. Ngày nay, trung bình, Tự động hoàn thành giúp giảm thời gian nhập 25% và tiết kiệm được khoảng hơn 200 năm thời gian nhập mỗi ngày.
 
2004: Thông tin địa phương
Mọi người thường dựa vào danh bạ điện thoại truyền thống để biết thông tin kinh doanh. Web đã mở đường cho việc khám phá địa phương, như "pizza ở Chicago" hoặc "cắt tóc 75001". Năm 2004, Google Local đã thêm thông tin có liên quan vào danh sách doanh nghiệp như bản đồ, chỉ đường và đánh giá. Năm 2011, chúng tôi đã thêm  chức năng nhấp để gọi  trên thiết bị di động, giúp bạn dễ dàng liên hệ với các doanh nghiệp khi đang di chuyển. Trung bình, các kết quả địa phương trong Tìm kiếm thúc đẩy hơn 6,5 tỷ kết nối cho các doanh nghiệp mỗi tháng, bao gồm các cuộc gọi điện thoại, chỉ đường, đặt đồ ăn và đặt chỗ.
 
2006: Google Dịch
Các nhà nghiên cứu của Google bắt đầu phát triển công nghệ dịch máy vào năm 2002 để giải quyết rào cản ngôn ngữ trực tuyến. Bốn năm sau, chúng tôi đã ra mắt  Google Dịch  với chức năng dịch văn bản giữa tiếng Ả Rập và tiếng Anh. Ngày nay, Google Dịch hỗ trợ hơn 100 ngôn ngữ, với  24 ngôn ngữ được thêm vào vào năm ngoái .

2006: Xu hướng Google
Google Trends  được xây dựng để giúp chúng tôi hiểu các xu hướng trên Tìm kiếm bằng dữ liệu tổng hợp (và tạo ra  Năm tìm kiếm hàng năm của chúng tôi ). Ngày nay, Google Trends là bộ dữ liệu miễn phí lớn nhất thế giới cùng loại, cho phép các nhà báo, nhà nghiên cứu, học giả và thương hiệu tìm hiểu cách tìm kiếm thay đổi theo thời gian.
 
2007: Tìm kiếm toàn cầu
Kết quả tìm kiếm hữu ích phải bao gồm thông tin có liên quan trên nhiều định dạng, như liên kết, hình ảnh, video và kết quả cục bộ. Vì vậy, chúng tôi đã thiết kế lại hệ thống của mình để tìm kiếm tất cả các loại nội dung cùng một lúc, quyết định khi nào và ở đâu kết quả sẽ hòa trộn và cung cấp kết quả theo cách rõ ràng và trực quan. Kết quả,  Universal Search , là thay đổi triệt để nhất của chúng tôi đối với Tìm kiếm tại thời điểm đó.
 
2008: Ứng dụng di động của Google
Với sự ra đời của App Store của Apple, chúng tôi đã ra mắt  Ứng dụng Google Mobile đầu tiên  trên iPhone. Các tính năng như Tự động hoàn thành và "Vị trí của tôi" giúp tìm kiếm dễ dàng hơn với ít lần nhấn phím hơn và đặc biệt hữu ích trên màn hình nhỏ hơn. Ngày nay, có  rất nhiều thứ bạn có thể làm  với ứng dụng Google — có sẵn trên cả Android và iOS — từ việc nhận trợ giúp về bài tập toán với Lens đến truy cập các công cụ dịch trực quan chỉ bằng một lần chạm.
 
2008: Tìm kiếm bằng giọng nói
Năm 2008, chúng tôi đã giới thiệu khả năng tìm kiếm bằng giọng nói trên Google Mobile App, mở rộng sang máy tính để bàn vào năm 2011. Với  Voice Search , mọi người có thể tìm kiếm bằng giọng nói chỉ bằng một nút bấm. Ngày nay, tìm kiếm bằng giọng nói đặc biệt phổ biến ở Ấn Độ, nơi tỷ lệ người Ấn Độ thực hiện truy vấn bằng giọng nói hàng ngày gần gấp đôi mức trung bình toàn cầu.

2009: Đường dây nóng khẩn cấp
Theo gợi ý của một bà mẹ gặp khó khăn trong việc tìm thông tin kiểm soát chất độc sau khi con gái bà nuốt phải thứ gì đó có khả năng gây nguy hiểm, chúng tôi đã tạo một hộp cho đường dây nóng kiểm soát chất độc ở đầu trang kết quả tìm kiếm. Kể từ lần ra mắt này, chúng tôi đã nâng cao  đường dây nóng khẩn cấp  cho những thời điểm quan trọng cần thiết như  phòng chống tự tử .
 
2011: Tìm kiếm theo hình ảnh
Đôi khi, những gì bạn đang tìm kiếm có thể  khó diễn tả bằng lời . Vì vậy, chúng tôi đã ra mắt Tìm kiếm theo hình ảnh để bạn có thể tải lên bất kỳ hình ảnh hoặc URL hình ảnh nào, tìm hiểu hình ảnh đó là gì và hình ảnh đó nằm ở đâu trên web. Bản cập nhật này đã mở đường cho Lens sau này.
 
2012: Biểu đồ tri thức
Chúng tôi đã giới thiệu  Biểu đồ tri thức , một bộ sưu tập lớn về con người, địa điểm và sự vật trên thế giới và cách chúng liên quan đến nhau, để giúp bạn dễ dàng có được câu trả lời nhanh chóng.  Bảng tri thức , tính năng đầu tiên được hỗ trợ bởi Biểu đồ tri thức, cung cấp cho bạn thông tin tổng quan nhanh về các chủ đề như người nổi tiếng, thành phố và đội thể thao.
 
2015: Thời đại thịnh vượng
Chúng tôi đã ra mắt  tính năng Thời gian phổ biến  trong Tìm kiếm và Bản đồ để giúp mọi người xem những thời điểm đông đúc nhất trong ngày khi họ tìm kiếm những địa điểm như nhà hàng, cửa hàng và bảo tàng.
 
2016: Khám phá
Bằng cách ra mắt nguồn cấp dữ liệu được cá nhân hóa ( hiện gọi là Discover ), chúng tôi đã giúp mọi người khám phá nội dung phù hợp với sở thích của họ ngay trong ứng dụng Google mà không cần phải tìm kiếm.
 
2017: Ống kính
Google Lens  biến máy ảnh của bạn thành truy vấn tìm kiếm bằng cách xem các đối tượng trong ảnh, so sánh chúng với các hình ảnh khác và xếp hạng các hình ảnh khác đó dựa trên mức độ tương đồng và liên quan của chúng với ảnh gốc. Bây giờ, bạn có thể tìm kiếm những gì bạn thấy trong ứng dụng Google. Ngày nay,  Lens có hơn 12 tỷ lượt tìm kiếm hình ảnh  mỗi tháng.
 
2018: Dự báo lũ lụt
Để giúp mọi người chuẩn bị tốt hơn cho lũ lụt sắp xảy ra, chúng tôi đã tạo ra  các mô hình dự báo  có thể dự đoán thời điểm và địa điểm lũ lụt tàn khốc sẽ xảy ra bằng AI. Chúng tôi đã bắt đầu những nỗ lực này ở Ấn Độ và ngày nay, chúng tôi đã  mở rộng cảnh báo lũ lụt  đến 80 quốc gia.
 
2019: BERT
Một phần lớn khiến Tìm kiếm hữu ích là khả năng hiểu ngôn ngữ của chúng tôi. Vào năm 2018, chúng tôi đã giới thiệu và mã nguồn mở một kỹ thuật dựa trên mạng nơ-ron để đào tạo các mô hình hiểu ngôn ngữ của mình:  BERT  (Bidirectional Encoder Representations from Transformers).  BERT giúp Tìm kiếm hữu ích hơn  bằng cách hiểu ngôn ngữ tốt hơn, nghĩa là nó xem xét toàn bộ ngữ cảnh của một từ. Sau khi thử nghiệm nghiêm ngặt vào năm 2019, chúng tôi đã áp dụng  BERT cho hơn 70 ngôn ngữ.
 

Tìm hiểu thêm về cách BERT hoạt động để hiểu các tìm kiếm của bạn. Liên kết
 
2020: Biểu đồ mua sắm
Mua sắm trực tuyến trở nên dễ dàng và toàn diện hơn rất nhiều khi chúng tôi  cho phép  bất kỳ nhà bán lẻ hoặc thương hiệu nào hiển thị sản phẩm của họ trên Google miễn phí. Chúng tôi cũng giới thiệu  Shopping Graph , một tập dữ liệu do AI cung cấp về các sản phẩm, người bán, thương hiệu, đánh giá và hàng tồn kho tại địa phương liên tục được cập nhật, hiện bao gồm 35 tỷ danh sách sản phẩm.
 
2020: Từ tiếng vo ve đến tìm kiếm
Chúng tôi  đã ra mắt Hum to Search  trong ứng dụng Google, vì vậy bạn sẽ không còn cảm thấy bực bội khi không nhớ được giai điệu đang ám ảnh mình nữa. Tính năng máy học sẽ xác định các bài hát có khả năng trùng khớp sau khi bạn ngân nga, huýt sáo hoặc hát một giai điệu. Sau đó, bạn có thể khám phá thông tin về bài hát và nghệ sĩ.
 
2021: Về kết quả này
Để giúp mọi người đưa ra quyết định sáng suốt hơn về kết quả nào sẽ hữu ích và đáng tin cậy nhất đối với họ, chúng tôi đã thêm " Về kết quả này " bên cạnh hầu hết các kết quả tìm kiếm. Nó giải thích lý do tại sao một kết quả được hiển thị cho bạn và cung cấp thêm ngữ cảnh về nội dung và nguồn của nó, dựa trên các thông lệ tốt nhất từ các chuyên gia về kiến thức thông tin. Về kết quả này  hiện khả dụng  ở tất cả các ngôn ngữ mà Tìm kiếm khả dụng.
 
2022: Đa tìm kiếm
Để giúp bạn khám phá thông tin bạn đang tìm kiếm — bất kể khó khăn đến đâu — chúng tôi đã tạo ra một cách hoàn toàn mới để tìm kiếm bằng  văn bản và hình ảnh cùng lúc thông qua Multisearch.  Bây giờ bạn có thể chụp ảnh bộ bàn ăn của mình và thêm truy vấn "bàn cà phê" để tìm một chiếc bàn phù hợp. Lần đầu tiên ra mắt tại Hoa Kỳ,  Multisearch hiện đã có mặt trên toàn cầu  trên thiết bị di động, ở mọi ngôn ngữ và quốc gia nơi Lens khả dụng.

 
2023: Search Labs và Search Generative Experience (SGE)
Hàng năm trong Tìm kiếm, chúng tôi thực hiện hàng trăm nghìn thử nghiệm để tìm ra cách làm cho Google hữu ích hơn cho bạn. Với Search Labs, bạn có thể thử nghiệm các thử nghiệm giai đoạn đầu và chia sẻ phản hồi trực tiếp với các nhóm đang làm việc trên các thử nghiệm đó. Thử nghiệm đầu tiên, SGE, đưa sức mạnh của AI tạo ra trực tiếp vào Tìm kiếm. Bạn có thể nắm được cốt lõi của một chủ đề với các bản tổng quan do AI cung cấp, các mẹo để khám phá thêm và các cách tự nhiên để yêu cầu theo dõi. Kể từ khi ra mắt tại Hoa Kỳ,  chúng tôi đã nhanh chóng bổ sung các khả năng mới , với nhiều khả năng hơn nữa sẽ ra mắt.
 
Là một người đã theo dõi thế giới công cụ tìm kiếm trong hơn hai thập kỷ, thật tuyệt vời khi được nhìn lại nơi Google bắt đầu — và chặng đường chúng tôi đã đi.

Trân trọng,
Subhasmita
1 Video

3:03
BERT giúp Google Tìm kiếm hiểu ngôn ngữ như thế nào | Tìm kiếm
Chi tiết
Mẹo & Thủ thuật Tìm kiếm
Đã ghim
Đã khóa
Câu hỏi này đã bị khóa và tính năng trả lời đã bị vô hiệu hóa.

703

Subscribed
Nội dung cộng đồng có thể chưa được xác minh hoặc cập nhật. Tìm hiểu thêm .
Bạn đã đăng ký nhận thông báo về tất cả thông báo mới từ nhóm Google Tìm kiếm.

Quản lý đăng ký
Chưa có phản hồi nào

Liên kết đã sao chép
https://support.google.com/websearch/thread/233923269?hl=vi
