.markdownBody {
  [class~="highlight"] pre,
  pre {
    margin-top: 10px;
  }

  [class~="height-constrained-code-block"] pre {
    max-height: 500px;
    overflow: auto;
  }

  [class~="code-extra"] {
    margin-top: 24px;

    pre {
      margin-top: 0 !important;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-left: 1px var(--color-auto-gray-2) solid !important;
      border-bottom: 1px var(--color-auto-gray-2) solid !important;
      border-right: 1px var(--color-auto-gray-2) solid !important;
    }
  }

  pre [class~="redbox"] {
    border: 2px solid var(--color-auto-red-5);
    padding: 2px;
    border-radius: 2px;
    margin-right: 2px;
  }

  pre [class~="greenbox"] {
    border: 2px solid var(--color-auto-green-5);
    padding: 2px;
    border-radius: 2px;
    margin-right: 2px;
  }

  pre [class~="bluebox"] {
    border: 2px solid var(--color-auto-blue-5);
    padding: 2px;
    border-radius: 2px;
    margin-right: 2px;
  }
}
