/* Styles used for top-level TOC in development only
------------------------------------------------------------------------------*/

ul.versions-list {
  list-style-type: none;
}

ul.versions-list > li {
  margin: 3px 0 0 0;
}

details ul.products-list li {
  margin: 3px 0 0 30px;
}
