.extended-markdown {
  .note,
  .tip,
  .warning,
  .danger {
    // remove extra space under lists inside of notes
    ul,
    ol {
      margin-bottom: 0;
    }
  }

  p {
    margin: 0;
  }

  p:not(:first-child) {
    margin-top: 15px;
  }

  &.note pre code {
    color: var(--color-text-primary);
  }

  &.note pre {
    background: none;
    padding: 10px 10px 10px 0;
    margin-bottom: 0;
  }
}
