.extended-markdown p {
  margin: 0;
}

.extended-markdown p:not(:first-child) {
  margin-top: 15px;
}

.extended-markdown.note pre {
  background: none;
  padding: 10px 10px 10px 0;
  margin-bottom: 0;
}

.extended-markdown.note pre code {
  color: var(--color-text-primary);
}
