/* Getting Started and Popular Articles sections in article layout */
.markdown-body div.featured-links {
  padding-bottom: 30px;
}

.markdown-body div.featured-links-heading {
  padding-top: 24px;
}

.markdown-body div.featured-links p.link-with-intro-intro {
  margin-bottom: 5px;
}

.markdown-body div.featured-links h4.link-with-intro-title {
  margin-top: 0;
}
