.markdown-body .procedural-image-wrapper {
  display: block;
  padding: 1rem 0;
  margin: 1rem auto 0 auto;
  border: none;
  max-width: calc(100% - 2rem);

  img {
    width: auto;
    height: auto;
    max-height: 32rem;
    padding: 0;
    box-shadow: var(--color-shadow-medium);
  }

  img[src*="https://github.githubassets.com/images/icons/emoji"]
  {
    box-shadow: none;
  }
}

.markdown-body img {
  max-height: 32rem;
  padding: 0;
}

// make sure images that contain emoji render at the expected size
.markdown-body img[src*="https://github.githubassets.com/images/icons/emoji"]
{
  height: 20px;
  width: 20px;
}
