.procedural-image-wrapper {
  display: block;
  padding: 10px 0;
  margin: 20px auto 0 auto;
  border: none;
  max-width: calc(100% - 32px);
}

.procedural-image-wrapper img {
  border-radius: 5px;
  border: 2px solid var(--color-auto-gray-2);
  width: auto;
  height: auto;
  max-height: 500px;
  padding: 0;
}

// make sure images that contain emoji render at the expected size
img[src*="https://github.githubassets.com/images/icons/emoji"]
{
  height: 20;
  width: 20;
  align: absmiddle;
}

.markdown-body img {
  max-height: 500px;
  padding: 0;
}
