@import "@primer/css/color-modes/index.scss";
@import "@primer/css/core/index.scss";
@import "@primer/css/markdown/index.scss";
@import "@primer/css/forms/index.scss";
@import "@primer/css/navigation/index.scss";
@import "@primer/css/labels/index.scss";
@import "@primer/css/avatars/avatar.scss";
@import "@primer/css/alerts/index.scss";
@import "@primer/css/popover/index.scss";

@import "extended-markdown.scss";
@import "markdown-overrides.scss";
@import "headings.scss";
@import "images.scss";
@import "shadows.scss";
@import "syntax-highlighting.scss";
@import "utilities.scss";
@import "links.scss";
