@import "@primer/css/core/index.scss";
@import "@primer/css/markdown/index.scss";
@import "@primer/css/forms/index.scss";
@import "@primer/css/navigation/index.scss";
@import "@primer/css/labels/index.scss";
@import "@primer/css/avatars/avatar.scss";

$marketing-font-path: "/assets/fonts/inter/";
@import "@primer/css/marketing/index.scss";
@import "font-mktg.scss";

@import "alerts.scss";
@import "bump-link.scss";
@import "code.scss";
@import "extended-markdown.scss";
@import "font-mktg.scss";
@import "gradient.scss";
@import "headings.scss";
@import "images.scss";
@import "lists.scss";
@import "shadows.scss";
@import "summary.scss";
@import "syntax-highlighting.scss";
@import "tables.scss";
@import "utilities.scss";
