/* Styles not incorporated into Primer yet
------------------------------------------------------------------------------*/

// Position utils
@media (min-width: $width-lg) {
  .top-lg-n9 {
    top: -$spacer-9;
  }
}

// Type
.text-blue-mktg {
  color: $blue-500 !important;
}

.text-white-fade {
  color: $white-fade-70 !important;
}

// Text styling
.underline-dashed {
  display: inline;
  padding-bottom: $spacer-1;
  background-image: linear-gradient(to right, $gray-300 50%, rgba(255, 255, 255, 0) 0%);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 10px 1px;
}

// Arrow links
.Bump-link-symbol {
  display: inline-block;
  transition: $transition-time / 2;
  transform: translateX(0);
}

.Bump-link:hover .Bump-link-symbol {
  transform: translateX(3px);
}

.Bump-link--hover .Bump-link-symbol {
  color: inherit;
  opacity: 0;
  transition: $transition-time / 2;
  transform: translateX(0);
}

.Bump-link--hover:hover .Bump-link-symbol {
  opacity: 1;
  transform: translateX(3px);
}

// Background
.bg-blue-dark {
  background-color: $blue-800 !important;
}
