/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>
from https://unpkg.com/highlight.js@9.15.8/styles/github.css

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: var(--color-auto-gray-9);
  background: var(--color-auto-gray-0);
}

.hljs-comment,
.hljs-quote {
  color: var(--color-auto-gray-5);
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: var(--color-auto-gray-9);
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: var(--color-auto-green-7);
}

.hljs-string,
.hljs-doctag {
  color: var(--color-auto-blue-6);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: var(--color-auto-red-8);
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: var(--color-auto-blue-7);
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: var(--color-auto-blue-7);
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: var(--color-auto-green-7);
}

.hljs-symbol,
.hljs-bullet {
  color: var(--color-auto-purple-5);
}

.hljs-built_in,
.hljs-builtin-name {
  color: var(--color-auto-blue-7);
}

.hljs-meta {
  color: var(--color-auto-gray-5);
  font-weight: bold;
}

.hljs-deletion {
  background: var(--color-auto-red-2);
}

.hljs-addition {
  background: var(--color-auto-green-2);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
