/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>
from https://unpkg.com/highlight.js@9.15.8/styles/github.css

*/

.hljs {
  display: block;
  padding: 0.5em;
  color: var(--color-fg-default);
  background: var(--color-canvas-subtle);
}

.hljs-comment,
.hljs-quote {
  color: var(--color-prettylights-syntax-comment);
}

.hljs-keyword,
.hljs-selector-tag {
  color: var(--color-prettylights-syntax-keyword);
}

.hljs-string,
.hljs-doctag,
.hljs-template-variable {
  color: var(--color-prettylights-syntax-string);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: var(--color-prettylights-syntax-markup-heading);
}

.hljs-section {
  font-weight: bold;
}

.hljs-type,
.hljs-class,
.hljs-variable {
  color: var(--color-prettylights-syntax-variable);
}

.hljs-language,
.hljs-subst {
  color: var(--color-prettylights-syntax-storage-modifier-import);
}

.hljs-number,
.hljs-literal,
.hljs-symbol,
.hljs-property,
.hljs-constant {
  color: var(--color-prettylights-syntax-constant);
}

.hljs-tag,
.hljs-name,
.hljs-attribute,
.hljs-attr {
  color: var(--color-prettylights-syntax-entity-tag);
}

.hljs-regexp,
.hljs-link {
  color: var(--color-prettylights-syntax-string-regexp);
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-function {
  color: var(--color-prettylights-syntax-entity);
}

.hljs-deletion {
  background: var(--color-prettylights-syntax-markup-deleted-bg);
}

.hljs-addition {
  background: var(--color-prettylights-syntax-markup-inserted-bg);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
