button.toggle-images {
  opacity: 1;
  transition: 0.2s;
  background-color: var(--color-auto-blue-5);
  color: var(--color-text-inverse);
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin-right: 10px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
