/* Global type styles
------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
  a {
    color: $gray-900;
  }
}

summary {
  outline: none;
}

.markdown-body {
  summary {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}





// all h3 headers that are links should be blue-500
// except those on each product's toc
h3 a {
  color: $blue-500;

  .directory-toc & {
    color: $gray-900;
  }
}
