.color-unset {
  color: unset;
}

.line-break-anywhere {
  line-break: anywhere;
}

.transition-200 {
  transition: 200ms;
}

.rotate-180 {
  transform: rotateX(180deg);
}

.outline-none {
  outline: none;
}

/* Print utilities
------------------------------------------------------------------------------*/
@media print {
  .no-print {
    display: none;
  }
}

/* Opacity utilities
------------------------------------------------------------------------------*/
.opacity-0 {
  opacity: 0;
}
.opacity-60 {
  opacity: 0.6;
}
.opacity-70 {
  opacity: 0.7;
}
.opacity-100 {
  opacity: 1;
}

/* List utilities
------------------------------------------------------------------------------*/
.list-style-inside {
  list-style: inside;
}

/* Hover utilities
------------------------------------------------------------------------------*/
.hover\:color-bg-accent:hover {
  background: var(--color-accent-subtle);
}

/* Z-Index utilities
------------------------------------------------------------------------------*/
.-z-1 {
  z-index: -1;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}

/* Border colors
------------------------------------------------------------------------------*/
.color-border-transparent {
  border-color: transparent !important;
}

/* Background colors
------------------------------------------------------------------------------*/
.background-transparent {
  background-color: transparent;
}

/* Widths / Heights
------------------------------------------------------------------------------*/
.max-w-xs {
  max-width: 20rem;
}

.min-h-screen {
  min-height: 100vh;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/* Screen Reader Only
------------------------------------------------------------------------------*/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.keyboard-focus:focus {
  outline: 1px auto -webkit-focus-ring-color;
}
