---
ms.openlocfilehash: 7bfa46be685d6037a5f72573a48d9c5c0cb8927f
ms.sourcegitcommit: fb047f9450b41b24afc43d9512a5db2a2b750a2a
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 09/11/2022
ms.locfileid: "145108111"
---
{% ifversion fpt or ghec %}Um nach der Aktivierung von Einschränkungen weiterhin E-Mail-Benachrichtigungen zu erhalten, müssen Mitglieder alle E-Mail-Adressen innerhalb von Domänen verifizieren, die von dir verifiziert oder genehmigt wurden. Weitere Informationen findest du unter [Verifizieren deiner E-Mail-Adresse](/github/getting-started-with-github/verifying-your-email-address).{% endif %}
