---
ms.openlocfilehash: 5ddc6b8bf49920a6b876c9d87ec749b411052130
ms.sourcegitcommit: fcf3546b7cc208155fb8acdf68b81be28afc3d2d
ms.translationtype: HT
ms.contentlocale: ko-KR
ms.lasthandoff: 09/11/2022
ms.locfileid: "145123367"
---
개인 계정이 소유한 앱을 판매하려면 먼저 앱을 조직으로 이전한 다음, 조직에서 만든 목록에 대한 확인을 요청해야 합니다.
