您可以通过验证域，确认企业控制的企业帐户所拥有的任何组织资料中列出的网站和电子邮件地址。 企业帐户的已验证域适用于该企业帐户拥有的每个组织。

验证企业帐户域的所有权后，每个在其资料中列出域的组织资料中将显示"已验证"徽章。 {% data reusables.organizations.verified-domains-details %}

组织所有者将能够通过查看已验证域中的每个成员的电子邮件地址来验证组织成员的身份。

验证企业帐户的域后，您可以将企业帐户拥有的所有组织的电子邮件通知限制为已验证域。 更多信息请参阅“[限制企业帐户的电子邮件通知](/github/setting-up-and-managing-your-enterprise/restricting-email-notifications-for-your-enterprise-account)”。

即使您不限制企业帐户的电子邮件通知，但如果组织所有者限制了组织的电子邮件通知，则组织成员除了能够接收来自组织的任何已验证或已批准域的通知之外，还能够接收来自企业帐户的任何已验证或已批准域的通知。 有关限制组织通知的更多信息，请参阅“[限制组织的电子邮件通知](/organizations/keeping-your-organization-secure/restricting-email-notifications-for-your-organization)”。

组织所有者还可以验证其组织的其他域。 更多信息请参阅“[验证或批准组织的域](/organizations/managing-organization-settings/verifying-or-approving-a-domain-for-your-organization)”。
