<!doctype html>
<html lang="{{currentLanguage}}" data-color-mode="$COLORMODE$" data-dark-theme="$DARKTHEME$" data-light-theme="$LIGHTTHEME$">
<head>
<meta charset="utf-8" />
<title>Docs TOC</title>
<link rel="stylesheet" href="{{ builtAssets.main.css }}">
<link rel="alternate icon" type="image/png" href="/assets/images/site/favicon.png">
<link rel="icon" type="image/svg+xml" href="/assets/images/site/favicon.svg">
</head>

<body class="dev-toc p-3 m-3">
<main class="width-full">

<h3>Versions</h3>
<ul class="versions-list">
{% for version in allVersions %}
{% if version[0] == "free-pro-team@latest" %}
<li><a href="/dev-toc">{{ version[1].versionTitle }}</a>
{% else %}
<li><a href="/{{ version[0] }}/dev-toc">{{ version[1].versionTitle }}</a>
{% endif %}
{% endfor %}
</ul>

{% if allVersions[devTocVersion] %}
<h2 class="mt-3 mb-3"><abbr>TOC</abbr> for {{ allVersions[devTocVersion].versionTitle }}</h2>

<button class="btn mb-3 js-expand" type="button">Expand All</button>
<div/>

{% for productPage in devTocTree.childPages %}
<details class="mb-1"><summary>{{productPage.renderedFullTitle}}</summary>
<ul class="products-list">
<li title="{{productPage.renderedFullTitle}}">
  <a title="{{ productPage.page.documentType }}" href="{{productPage.href}}">{{ productPage.renderedFullTitle }}</a>
  {% for categoryPage in productPage.childPages %}
  <ul>
  <li>
    <a title="{{ categoryPage.page.documentType }}" href="{{ categoryPage.href }}">{{ categoryPage.renderedFullTitle }}</a>
      <ul>
        <!-- The following may actually be child articles of categories in some cases, 
        e.g., github/site-policy, not map topics -->
        {% for maptopicPage in categoryPage.childPages %}
            <li>
              <a title="{{ maptopicPage.page.documentType }}" href="{{ maptopicPage.href }}">{{ maptopicPage.renderedFullTitle }}</a>
              <ul>
                {% for articlePage in maptopicPage.childPages %}
                <li>
                  <a title="{{ articlePage.page.documentType }}" href="{{ articlePage.href }}">{{ articlePage.renderedFullTitle }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
        {% endfor %}
      </ul>
  </li>
  {% endfor %}
</ul>
</li>
</ul>
</details>
{% endfor %}
{% endif %}

{% include scripts %}
</main>
</body>
</html>
