<!doctype html>
<html lang="{{currentLanguage}}">
  {% include head %}

  <body class="d-lg-flex">
    {% include sidebar %}

    <main class="width-full">
      <main class="container-xl px-3 px-md-6 my-4 my-lg-4 d-xl-flex">
        <article class="markdown-body width-full">
          <div class="d-lg-flex flex-justify-between">          </div>
      
          <div class="mt-2 article-grid-container">
      
          <div class="article-grid-head">
            <div class="d-flex flex-items-baseline flex-justify-between mt-3">
              <h1 class="border-bottom-0">Enterprise Server Releases</h1>
            </div>
          </div>
          <div id="article-contents" class="article-grid-body">
            <h2>Currently supported</h2>
            <ul>
            {% for version in enterpriseServerReleases.supported %}
            <li><a href="/{{currentLanguage}}/enterprise-server@{{version}}">Enterprise Server {{version}}</a></li>
            {% endfor %}
            </ul>
            <h2>Deprecated</h2>
            <p>These docs remain available but are no longer maintained:</p>
            <ul>
            {% for version in enterpriseServerReleases.deprecatedReleasesWithNewFormat %}
            <li><a href="/{{currentLanguage}}/enterprise-server@{{version}}">Enterprise Server {{version}}</a></li>
            {% endfor %}
            {% for version in enterpriseServerReleases.deprecatedReleasesWithLegacyFormat %}
            <li><a href="/{{currentLanguage}}/enterprise/{{version}}">Enterprise Server {{version}}</a></li>
            {% endfor %}
            </ul>
            {% include support %}
            {% include small-footer %}
          </div>
          </div>
        </article>
      </main>
      
    </main>
  </body>
</html>
