{% assign error = '404' %}
<html lang="{{currentLanguage}}">
  {% include head %}

  <body class="d-lg-flex error-404">
    {% include sidebar %}

    <main class="width-full">
      {% include header %}

      <div class="container-xl p-responsive py-6">
        <article class="markdown-body col-md-10 col-lg-7 mx-auto">
          {% include error-404-deprecation-message %}

          <h1>{% data ui.errors.oops %}</h1>

          <div class="lead-mktg mb-5">
            {% data ui.errors.page_doesnt_exist %}
          </div>

          <div class="col-md-8 col-lg-6 mx-auto">
            <img src="https://octodex.github.com/images/waldocat.png" alt="waldocat">
          </div>

          <div class="col-lg-12 mt-6">
            <h3 class="mb-3">{% data ui.search.need_help %}</h3>
            {% include search-form %}
          </div>
          <div id="search-results-container" class="mt-4 d-none" data-active-class="d-block" data-inactive-class="d-none"></div>
        </article>
      </div>

      <!-- {{ content }} -->
      {% include support %}
      {% include small-footer %}
    </main>
  </body>
</html>
