<!doctype html>
<html lang="{{currentLanguage}}">
  {% include head %}
  <body>
    {% include header %}

    <div class="container-xl p-responsive py-9">
      <article class="markdown-body col-md-10 col-lg-7 mx-auto">
        <h1>{% data ui.errors.oops %}</h1>

        <div class="lead-mktg mb-5">
          {% data ui.errors.something_went_wrong %}
          {% data ui.errors.we_track_errors %}
        </div>

        {% if error %}
          <pre><code>{{ error.stack }}</code></pre>
        {% endif %}

        <img src="/assets/images/site/labtocat.png" alt="labtocat">
      </article>
    </div>

    <!-- {{ content }} -->
    {% include support-section %}
    {% include small-footer %}
    {% include scroll-button %}
  </body>
</html>
