<!doctype html>
<html lang="{{currentLanguage}}">
  {% include head %}

  <body class="d-lg-flex">
    {% include sidebar %}

    <main class="width-full">
      {% include header %}

      <div class="container-xl px-3 px-md-6 pt-3 pb-2">
        <header class="d-flex gutter mb-6">
          <div class="col-12 col-lg-7">
            <span class="text-mono text-gray">Product</span>
            <h1 class="mb-3 font-mktg">{{ page.shortTitle }}</h1>
            <div class="lead-mktg text-gray">{{ page.intro }}</div>

            <a href="{{ page.introLinks.quickstart }}" class="btn btn-large f4 btn-blue mt-3">
              Quickstart
            </a>

            <a href="{{ page.introLinks.learn }}" class="ml-3 btn btn-large f4 btn-outline mt-3">
              Learn {% data variables.product.prodname_actions %}
            </a>
          </div>
        </header>

        {{ renderedPage }}
      </div>


      {% include support %}
      {% include footer %}
    </main>
  </body>
</html>
