<!doctype html>
<html lang="{{currentLanguage}}" data-color-mode="$COLORMODE$" data-dark-theme="$DARKTHEME$" data-light-theme="$LIGHTTHEME$">
  {% include head %}

  <body class="d-lg-flex">
    {% include sidebar %}

    <main class="width-full">
      {% include header %}
      {% include deprecation-banner %}

      <div class="container-xl px-3 px-md-6 pt-3 pb-2 product-landing">
        <header class="d-lg-flex gutter-lg mb-6">
          <div class="{% if page.product_video and page.product_video != '' %}col-12 col-lg-6 mb-3 mb-lg-0{% endif %}">
            <span class="text-mono color-text-secondary">Product</span>
            <h1 class="mb-3 font-mktg">
              {{ page.shortTitle }}

              {% if page.beta_product %}
                <span class="Label Label--success v-align-middle">Beta</span>
              {% endif %}
            </h1>
            <div class="lead-mktg color-text-secondary">{{ page.intro }}</div>

            {% for introLinkType in page.introLinks %}
            {% if introLinkType[1] != '' %}
            {% unless introLinkType[0] contains 'raw' %}
            <a href="/{{ currentLanguage }}{% if currentVersion != 'free-pro-team@latest' %}/{{ currentVersion }}{% endif %}{{ page.introLinks[introLinkType[0]] }}" class="btn-mktg {% unless forloop.first %}btn-outline-mktg {% endunless %}btn-large f4 mt-3 mr-3">
              {% data ui.product_landing[introLinkType[0]] %}
            </a>
            {% endunless %}
            {% endif %}
            {% endfor %}
          </div>

          {% if page.product_video and page.product_video != '' %}
            <div class="col-12 col-lg-6">
              <div class="position-relative" style="padding-bottom:56.25%;">
                {% unless AIRGAP %}
                  <iframe
                    title="{{ page.shortTitle }} Video"
                    class="top-0 left-0 position-absolute color-shadow-large rounded-1 width-full height-full"
                    src="{{ page.product_video }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                  ></iframe>
                {% endunless %}
              </div>
            </div>
          {% endif %}
        </header>

        <!-- Article links -->
        <div class="d-lg-flex gutter my-6 py-6">
          <div class="col-12 col-lg-{% if whatsNewChangelog %}4{% else %}6{% endif %} mb-4 mb-lg-0">
            <div class="featured-links-heading mb-4 d-flex flex-items-baseline">
              <h3 class="f4 text-normal text-mono text-uppercase color-text-secondary" id="guides"><a href="#guides">{% data ui.toc.guides %}</a></h3>
              {% unless currentCategory %}
              {% if page.children contains "/guides" %}
                <a href="{{ currentPath }}/guides" class="ml-4">View all {% octicon "arrow-right" height="14" class="v-align-middle" %}</a>
              {% endif %}
              {% endunless %}
            </div>
            <ul class="list-style-none">
              {% for link in featuredLinks.guides %}
                <li class="border-top">
                  <a class="link-with-intro Bump-link--hover no-underline d-block py-3" href="{{ link.href }}">
                    <h4 class="link-with-intro-title mb-1">{{ link.title }}<span class="Bump-link-symbol">→</span></h4>
                    <p class="link-with-intro-intro color-text-secondary mb-0">{{ link.intro | truncatewords: 12 }}</p>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>

          {% if featuredLinks.popular %}
          <div class="col-12 col-lg-{% if whatsNewChangelog %}4{% else %}6{% endif %} mb-4 mb-lg-0">
            <div class="featured-links-heading mb-4 d-flex flex-items-baseline">
              <h3 class="f4 text-normal text-mono text-uppercase color-text-secondary" id="popular"><a href="#popular">{% if page.featuredLinks.popularHeading %}{{ page.featuredLinks.popularHeading }}{% else %}{% data ui.toc.popular %}{% endif %}</a></h3>
            </div>
            <ul class="list-style-none">
              {% for link in featuredLinks.popular %}
                <li class="border-top">
                  <a class="link-with-intro Bump-link--hover no-underline d-block py-3" href="{{ link.href }}">
                    <h2 class="link-with-intro-title f5">{{ link.title }}<span class="Bump-link-symbol">→</span></h2>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}

          {% if whatsNewChangelog %}
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
              <div class="featured-links-heading mb-4 d-flex flex-items-baseline">
                <h3 class="f4 text-normal text-mono text-uppercase color-text-secondary" id="whats-new"><a href="#whats-new">{% data ui.toc.whats_new %}</a></h3>
                <a href="{{ changelogUrl }}" class="ml-4">View all {% octicon "arrow-right" height="14" class="v-align-middle" %}</a>
              </div>
              <ul class="list-style-none">
                {% for link in whatsNewChangelog %}
                  <li class="border-top">
                    <a href="{{ link.href }}" class="d-block color-text-primary Bump-link--hover py-3 no-underline capitalize">
                      <h4>{{ link.title }} <span class="Bump-link-symbol">→</span></h4>
                      <time
                        class="tooltipped tooltipped-n color-text-tertiary text-mono mt-1"
                        aria-label="{{ link.date | date: '%B %d, %Y' }}"
                      >{{ link.date | date: "%B %d" }}</time>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>

        {% if productCodeExamples %}
        {% include code-examples %}
        {% endif %}

        {% if productCommunityExamples %}
        {% include community-examples %}
        {% endif %}

        {% if productUserExamples %}
        {% include sponsor-examples %}
        {% endif %}

        {{ renderedPage }}
      </div>

      {% if currentVersion contains 'enterprise-server' and currentProduct == 'admin' %}
      {% include product-releases %}
      {% endif %}

      {% if featuredLinks.guideCards %}
        <div class="color-bg-tertiary py-6">
          <div class="container-xl px-3 px-md-6 my-6">
            <h2 class="font-mktg h1 mb-2" id="guides-2"><a href="#guides-2">Guides</a></h2>

            <div class="d-lg-flex gutter-lg flex-items-stretch">
              {% assign guideCards = featuredLinks.guideCards %}
              {% render guide-card for guideCards as guide %}
            </div>

            {% unless currentCategory %}
            {% if page.children contains "/guides" %}
              <a href="{{ currentPath }}/guides" class="btn btn-outline float-right">Explore guides {% octicon "arrow-right" %}</a>
            {% endif %}
            {% endunless %}
          </div>
        </div>
      {% endif %}

      <div class="container-xl px-3 px-md-6 mt-6">
        {% if page.documentType == "category" %}
          {% include category-articles-list %}
        {% endif %}
        {% if page.documentType == "product" %}
          {% include product-articles-list %}
        {% endif %}
      </div>

      {% include support-section %}
      {% include small-footer %}
      {% include scroll-button %}
    </main>
  </body>
</html>
