@import "./stylesheets/code.scss";
@import "./stylesheets/headers.scss";
@import "./stylesheets/lists.scss";
@import "./stylesheets/table.scss";

.markdownBody {
  a {
    text-decoration: underline;
    text-underline-offset: 25%;
  }

  summary {
    outline: none;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  /* For REST pages which have Parameters and Code Samples h4 headings that are also links. */
  h4 {
    a {
      text-decoration: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover {
      [class~="octicon-link"] {
        visibility: visible !important;
      }
    }
    & > a[class~="doctocat-link"] {
      padding: 0.5rem;
      margin-left: -2rem;
      color: var(--color-fg-muted);
      &:active,
      &:focus {
        outline: none;
      }
    }
    &:target {
      scroll-margin-top: 75px;
    }
  }

  [class~="note"],
  [class~="tip"],
  [class~="warning"],
  [class~="danger"] {
    // remove extra space under lists inside of notes
    ul,
    ol {
      margin-bottom: 0;
    }
  }
}
