@import "./stylesheets/code.scss";
@import "./stylesheets/headers.scss";
@import "./stylesheets/lists.scss";
@import "./stylesheets/table.scss";

.markdownBody {
  summary {
    outline: none;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  [class~="note"],
  [class~="tip"],
  [class~="warning"],
  [class~="danger"] {
    // remove extra space under lists inside of notes
    ul,
    ol {
      margin-bottom: 0;
    }
  }
}
