{% assign category = siteTree[currentLanguage][currentVersion].products[currentProduct].categories[currentPath] %}

{% assign maxArticles = 10 %}

<div class="py-6 all-articles-list">
  <h2 class="font-mktg mb-4">{{ category.title }} docs</h2>

  <div class="d-flex gutter flex-wrap">
    {% for xmaptopic in category.maptopics %}
      {% assign maptopic = xmaptopic[1] %}
      {% unless maptopic.hidden %}
        <div class="col-12 col-lg-4 mb-6 height-full">
          <h4 class="mb-3"><a href="{{ maptopic.href }}">{{ maptopic.title }}</a></h4>
          <ul class="list-style-none">
            {% for xarticle in maptopic.articles %}
              {% assign article = xarticle[1] %}
              <li class="mb-3 {% if forloop.index > maxArticles %}d-none{% endif %}">
                <a href="{{ article.href }}">
                  {{ article.title }}
                </a>
              </li>
            {% endfor %}
            {% assign numArticles = maptopic.childArticles | obj_size %}
            {% if numArticles > maxArticles %}
              <button class="js-all-articles-show-more btn-link link-gray">Show {{ numArticles | minus: maxArticles }} more {% octicon "chevron-up" class="v-align-text-bottom" %}</button>
            {% endif %}
          </ul>
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>
