{% if currentVersion contains enterpriseServerReleases.oldestSupported %}
  <div class="deprecation-banner border rounded-1 mb-2 color-bg-warning p-3 color-border-warning f5">
    <p>
      <b>
        <span>
        {% if enterpriseServerReleases.isOldestReleaseDeprecated %}
        {% data reusables.enterprise_deprecation.version_was_deprecated %}
        {% else %}
        {% data reusables.enterprise_deprecation.version_will_be_deprecated %}
        {% endif %}
        </span>
        <span data-date="{{ enterpriseServerReleases.nextDeprecationDate }}" data-format="%B %d, %Y" title="{{ enterpriseServerReleases.nextDeprecationDate }}">{{ enterpriseServerReleases.nextDeprecationDate }}</span>.
      </b>
      {% data reusables.enterprise_deprecation.deprecation_details %}
    </p>
  </div>
{% endif %}
