<div>
  <div>
    <h2 id="{{ item.id }}">
      <a href="#{{ item.id }}" aria-hidden tabindex="-1" class="doctocat-link">{% include doctocat-link-icon %}</a>
      {{- item.name -}}
    </h2>
    <p>
      <b>{% data ui.products.graphql.reference.type %}:</b>
      <a href="/{{ currentLanguage }}{{ item.href }}">{{ item.type }}</a>
    </p>
    {{ item.description }}
  </div>

  <div>
    {% include graphql-preview %} {% include graphql-deprecation %} {% if item.args.size > 0 %}
    <h4>{% data ui.products.graphql.reference.arguments %}</h4>
    {% assign fields = item.args %} {% include graphql-fields %} {% endif %}
  </div>
</div>
