{% if field.arguments %}
<div class="border rounded-1 mt-3 mb-3 p-3 color-bg-subtle f5">
<h4 class="pt-0 mt-0">{% data ui.products.graphql.reference.arguments %}</h4>
{% for arg in arguments %}
<ul class="list-style-none pl-0">
<li class="border-top mt-2">
<p class="mt-2"><code>{{ arg.name }}</code> (<code><a href="/{{ currentLanguage }}{{ arg.type.href }}">{{ arg.type.name }}</a></code>)</p>
{{ arg.description }}
{% if arg.defaultValue or arg.defaultValue == false %}<p>The default value is <code>{{ arg.defaultValue }}</code>.</p>{% endif %}
</li>
</ul>
{% endfor %}
</div>
{% endif %}
