<!-- START TRANSLATIONS NOTICES -->
<!-- Site policy translations notice -->
{% if currentLanguage != 'en' and page.relativePath contains '/site-policy/' %}
  {% assign translation_notification_type = "true" %}
  {% assign translation_notification = site.data.reusables.policies.translation %}

<!-- Completed translations notice -->
{% elsif currentLanguage != 'en' && !languages[currentLanguage].wip %}
  {% assign translation_notification_type = "true" %}
  {% assign translation_notification = site.data.ui.header.notices.localization_complete %}

<!-- In-progress translations notice -->
{% elsif currentLanguage != 'en' && languages[currentLanguage].wip %}
  {% assign translation_notification_type = "true" %}
  {% assign translation_notification = site.data.ui.header.notices.localization_in_progress %}
{% endif %}
<!-- END TRANSLATIONS NOTICES -->

<!-- START RELEASE NOTICES -->
<!-- Custom GitHub AE notice -->
{% if currentVersion == "github-ae@latest" %}
  {% assign release_notification_type = "true" %}
  {% assign release_notification = site.data.ui.header.notices.ghae_silent_launch %}
{% endif %}
<!-- END RELEASE NOTICES -->

{% if translation_notification_type %}
  <div class="header-notifications text-center f5 bg-blue-1 text-gray-dark py-4 px-6 translation_notice{% if release_notification_type %} border-bottom border-black-fade{% endif %}">
    {{ translation_notification }}
  </div>
{% endif %}

{% if release_notification_type %}
  <div class="header-notifications text-center f5 bg-blue-1 text-gray-dark py-4 px-6 release_notice">
    {{ release_notification }}
  </div>
{% endif %}
