<head>
  <meta charset="utf-8" />
  <title>{% if error == '404' %}{% data ui.errors.oops %}{% elsif currentVersion == 'homepage' %}GitHub Documentation{% elsif page.fullTitle %}{{ page.fullTitle }}{% else %}GitHub Documentation{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">{% if page.hidden %}
  <meta name="robots" content="noindex" />{% endif %}
  <meta name="google-site-verification" content="OgdQc0GZfjDI52wDv1bkMT-SLpBUo_h5nn9mI9L22xQ" />
  <meta name="google-site-verification" content="c1kuD-K2HIVF635lypcsWPoD4kilo5-jA_wBFyT4uMY" />

  <!-- localized data needed by client-side JS  -->
  <meta name="site.data.ui.search.placeholder" content="{% data ui.search.placeholder %}">
  <!-- end localized data -->

  {% if page.intro %}
    <meta name="description" content="{{ page.introPlainText }}">
  {% endif %}

  <!-- hreflangs -->
  {% for languageVariant in page.languageVariants %}
    <link
      rel="alternate"
      hreflang="{{ languageVariant.hreflang }}"
      href="https://docs.github.com{{ languageVariant.href }}"
    />
  {% endfor %}

  <link rel="stylesheet" href="{{ builtAssets.main.css }}">
  <link rel="alternate icon" type="image/png" href="/assets/images/site/favicon.png">
  <link rel="icon" type="image/svg+xml" href="/assets/images/site/favicon.svg">
</head>
