<section class="mt-lg-9 py-7 px-3 px-md-6 no-print color-bg-tertiary">
  <div class="container-xl gutter-lg-spacious d-flex flex-wrap">
    <div class="col-12 col-lg-6 col-xl-4 mb-6 mb-xl-0">
      {% include survey %}
    </div>
    <div class="col-12 col-lg-6 col-xl-4 mb-6 mb-xl-0">
      {% include contribution %}
    </div>
    <div class="col-12 col-lg-6 col-xl-4 mb-6 mb-xl-0">
      {% include support %}
    </div>
    <div class="col-12 col-lg-6 col-xl-4 mb-6 mb-xl-0">
      {% include toggle-images %}
    </div>
  </div>
</section>
