---
title: Troubleshooting commit signature verification
intro: 'You may need to troubleshoot unexpected issues that arise when signing commits locally for verification on {% data variables.product.product_name %}.'
redirect_from:
  - /articles/troubleshooting-gpg/
  - /articles/troubleshooting-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
  github-ae: '*'
---

