---
title: 管理提交签名验证
intro: 'You can sign your work locally using GPG or S/MIME. {% data variables.product.product_name %} 将会验证这些签名，以便其他人知道提交来自可信的来源。{% if currentVersion == "free-pro-team@latest" %} {% data variables.product.product_name %} 将自动使用 {% data variables.product.product_name %} web 界面{% endif %}对您的提交签名。'
redirect_from:
  - /articles/generating-a-gpg-key/
  - /articles/signing-commits-with-gpg/
  - /articles/managing-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
  github-ae: '*'
---

