---
title: 对提交签名验证进行故障排除
intro: '您可能需要对在本地签名提交以在 {% data variables.product.product_name %} 上进行验证时引起的意外问题进行故障排除。'
redirect_from:
  - /articles/troubleshooting-gpg/
  - /articles/troubleshooting-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
  github-ae: '*'
topics:
  - 身份
  - 访问管理
---

