.parameterTable {
  table-layout: fixed !important;
  z-index: 0;

  thead {
    tr {
      border-top: none;

      th {
        border: 0;
        font-weight: normal;
      }
    }
  }

  tr:nth-child(2n) {
    background: none !important;
  }

  td {
    padding: 0.75rem 0.5rem !important;
    border: 0 !important;
    vertical-align: top;
    width: 100%;
  }

  tbody {
    tr td {
      width: auto;
    }

    tr td:first-child {
      font-weight: bold;
    }

    table tr td:not(:first-child) {
      font-weight: normal;
    }
  }

  code {
    background-color: var(--color-canvas-subtle);
  }
}
