.restResponseTable {
  table-layout: fixed !important;

  thead {
    tr {
      border-top: none;

      th {
        border: 0;
        font-weight: normal;
      }

      th:first-child {
        width: 25%;
      }

      th:nth-child(2) {
        width: 75%;
      }
    }
  }

  tr:nth-child(2n) {
    background: none !important;
  }

  td {
    padding: 0.75rem 0.5rem !important;
    border: 0 !important;
    vertical-align: top;
    width: 100%;
  }

  tbody {
    tr td:first-child {
      width: 30%;
      font-weight: bold;
    }

    tr td:nth-child(2) {
      width: 70%;
    }

    table tr td:not(:first-child) {
      font-weight: normal;
    }
  }
}
