---
ms.openlocfilehash: 7bfa46be685d6037a5f72573a48d9c5c0cb8927f
ms.sourcegitcommit: 47bd0e48c7dba1dde49baff60bc1eddc91ab10c5
ms.translationtype: HT
ms.contentlocale: es-ES
ms.lasthandoff: 09/05/2022
ms.locfileid: "145123033"
---
{% ifversion fpt or ghec %}Para seguir recibiendo notificaciones de correo electrónico después de que habilitas las restircciones, los miembros deben verificar cualquier dirección de correo electrónico dentro de los dominios que verificas o apruebas. Para más información, vea "[Comprobación de la dirección de correo electrónico](/github/getting-started-with-github/verifying-your-email-address)".{% endif %}
