.fadeBottom {
  background: linear-gradient(to top, var(--color-canvas-default), transparent);
}

.removeHoverEvents {
  pointer-events: none;
}

/* Because of the sticky header */
.hashAnchor {
  &:target {
    scroll-margin-top: 75px;
  }
}
