name: automerge
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}
jobs:
  automerge:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'automerge') || contains(github.event.pull_request.labels.*.name, 'autosquash')
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@c9bd182"
        env:
          GITHUB_TOKEN: "${{ secrets.OCTOMERGER_PAT_WITH_REPO_AND_WORKFLOW_SCOPE }}"
          MERGE_METHOD_LABELS: "automerge=merge,autosquash=squash"
          MERGE_COMMIT_MESSAGE: "pull-request-title"
          MERGE_METHOD: "merge"
          MERGE_FORKS: "true"
          MERGE_RETRIES: "50"
          MERGE_RETRY_SLEEP: "10000" # ten seconds
          UPDATE_LABELS: "automerge,autosquash"
          UPDATE_METHOD: "merge"
