name: Lint code

# **What it does**: Lints our code to ensure the code matches the specified code style.
# **Why we have it**: We want some level of consistency to our code.
# **Who does it impact**: Docs engineering, open-source engineering contributors.

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**.js'
      - '**.mjs'
      - '**.ts'
      - '**.tsx'
      - '**.yaml'
      - '**.yml'
      - '**.scss'
      # In case something like eslint or tsc or prettier upgrades
      - 'package-lock.json'
      # Ultimately, for debugging this workflow itself
      - .github/workflows/code-lint.yml

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - name: Setup node
        uses: actions/setup-node@04c56d2f954f1e4c69436aa54cfef261a018f458
        with:
          node-version: 16.13.x
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint

      - name: Run Prettier
        run: npm run prettier-check

      - name: Run TypeScript
        run: npm run tsc
