name: Don't delete assets

# **What it does**:
#   If the PR (against main) involves deletion of assets, if any of
#   them are deletions or renames, post a comment, and ultimately
#   fail the check.
# **Why we have it**:
#    If you delete the reference to an image, the English content is fine
#    because it no longer tries to serve an image that doesn't exist.
#    But this is not the case for translations.
# **Who does it impact**: Docs content.

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'assets/**'
      - '.github/workflows/dont-delete-assets.yml'

permissions:
  contents: read
  pull-requests: write

jobs:
  dont-delete-assets:
    # It's 'docs-bot' that creates those PR from "Delete orphaned assets"
    if: github.event.pull_request.user.login != 'docs-bot' && (github.repository == 'github/docs-internal' || github.repository == 'github/docs')
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: ./.github/actions/node-npm-setup

      - name: Get comment markdown
        id: comment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run deleted-assets-pr-comment

      - name: Find possible previous comment
        if: ${{ steps.comment.outputs.markdown != '' }}
        uses: peter-evans/find-comment@b30e6a3c0ed37e7c023ccd3f1db5c6c0b0c23aad
        id: findComment
        with:
          issue-number: ${{ github.event.number }}
          comment-author: 'github-actions[bot]'
          body-includes: '<!-- DELETED_ASSETS -->'

      - name: Update comment
        if: ${{ steps.comment.outputs.markdown != '' }}
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9
        with:
          comment-id: ${{ steps.findComment.outputs.comment-id }}
          issue-number: ${{ github.event.number }}
          body: ${{ steps.comment.outputs.markdown }}
          edit-mode: replace

      - name: Ultimately fail the workflow for attention
        if: ${{ steps.comment.outputs.markdown != '' }}
        run: |
          echo "More than 1 asset image was deleted as part of this PR."
          echo "See posted PR commented about how to get them back."
          exit 1
