name: Stale check for no response from author

# **What it does**: Runs only in the OS repository to close issues that don't have enough information to be
#                   actionable.
# **Why we have it**: To remove the need for maintainers to remember to check
#                     back on issues periodically to see if contributors have
#                     responded.
# **Who does it impact**: Everyone that works in the docs repository.

on:
  issue_comment:
    types: [created]

  schedule:
    - cron: '20 16 * * 1' # Run each Monday at 16:20 UTC / 8:20 PST

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  noResponse:
    runs-on: ubuntu-latest
    if: github.repository == 'github/docs'
    steps:
      - uses: actions/stale@3a9db7e6a41a89f618792c92c0e97cc736e1b13f # v10.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          only-labels: 'more-information-needed'

          # Define behavior for issues
          days-before-issue-stale: 21
          days-before-issue-close: 1 # close after 1 day if the issue is not updated
          stale-issue-label: 'Waiting on contributor'
          close-issue-message: >
            This issue has been automatically closed because there has been no response
            to our request for more information from the original author. With only the
            information that is currently in the issue, we don't have enough information
            to take action. Please reach out if you have or find the answers we need so
            that we can investigate further. See [this blog post on bug reports and the
            importance of repro steps](https://www.lee-dohm.com/2015/01/04/writing-good-bug-reports/)
            for more information about the kind of information that may be helpful.

          # Define behavior for pull requests
          days-before-pr-stale: 21
          days-before-pr-close: 1 # close after a day if no activity is detected
          stale-pr-label: 'Waiting on contributor'
          close-pr-message: >
            This PR has been automatically closed because there has been no response to
            to our request for more information from the original author. Please reach out
            if you have the information we requested, or open an [issue](https://github.com/github/docs/issues/new/choose)
            to describe your changes. Then we can reopen this PR and begin the review process.

      - name: Print outputs
        run: echo "Staled issues/PRs:${{ steps.stale.outputs.staled-issues-prs || '0' }}, Closed issues/PRs:${{ steps.stale.outputs.closed-issues-prs || '0' }}"

      - name: Check out repo
        if: ${{ failure() }}
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/actions/slack-alert
        if: ${{ failure() }}
        with:
          slack_channel_id: ${{ secrets.DOCS_ALERTS_SLACK_CHANNEL_ID }}
          slack_token: ${{ secrets.SLACK_DOCS_BOT_TOKEN }}
