name: Ready for docs-content review

# **What it does**: Adds pull requests in the docs-internal repository to the docs-content review board when the "ready-for-doc-review" label is added or when a review by docs-content is requested
# **Why we have it**: So that other GitHub teams can easily request reviews from the docs-content team, and so that writers can see when a PR is ready for review
# **Who does it impact**: Writers working in the docs-internal repository

on:
  pull_request_target:
    types: [labeled, review_requested]
  workflow_call:

permissions:
  contents: read

jobs:
  request_doc_review:
    name: Request a review from the docs-content team
    if: >-
      github.repository == 'github/docs-internal' &&
      (github.event.label.name == 'ready-for-doc-review' || github.event.requested_team.name == 'docs-content')
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo content
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Setup Node.js
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516
        with:
          node-version-file: 'package.json'
          cache: npm

      - name: Install dependencies
        run: npm install @octokit/graphql

      - name: Run script
        run: |
          node src/workflows/ready-for-docs-review.js
        env:
          TOKEN: ${{ secrets.DOCS_BOT_PAT_WRITEORG_PROJECT }}
          PROJECT_NUMBER: 2936
          ORGANIZATION: 'github'
          ITEM_NODE_ID: ${{ github.event.pull_request.node_id }}
          AUTHOR_LOGIN: ${{ github.event.pull_request.user.login }}
          REPO: ${{ github.event.pull_request.base.repo.full_name }}

        # Since the projects API is still in beta, use the old workflow if something fails
        # so that we don't miss these PRs
      - name: Backup action (Add pull request to FR project board)
        if: ${{ failure() }}
        uses: rachmari/actions-add-new-issue-to-column@1a459ef92308ba7c9c9dc2fcdd72f232495574a9
        with:
          action-token: ${{ secrets.DOCS_BOT_PAT_WORKFLOW_READORG }}
          project-url: 'https://github.com/orgs/github/projects/1367'
          column-name: 'Docs-internal external contributor PRs'

      - uses: ./.github/actions/slack-alert
        with:
          slack_channel_id: ${{ secrets.DOCS_ALERTS_SLACK_CHANNEL_ID }}
          slack_token: ${{ secrets.SLACK_DOCS_BOT_TOKEN }}
