---
title: Verifizierung einer Commit-Signatur verwalten
intro: 'You can sign your work locally using GPG or S/MIME. {% data variables.product.product_name %} verifiziert diese Signaturen, damit andere Personen wissen, dass Ihre Commits von einer vertrauenswürdigen Quelle stammen.{% if currentVersion == "free-pro-team@latest" %} {% data variables.product.product_name %} signiert automatisch Commits, die Sie über die {% data variables.product.product_name %}-Weboberfläche erstellt haben.{% endif %}'
redirect_from:
  - /articles/generating-a-gpg-key/
  - /articles/signing-commits-with-gpg/
  - /articles/managing-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
  github-ae: '*'
topics:
  - Identity
  - Access management
---

