---
title: Verifizierung einer Commit-Signatur verwalten
intro: 'Du kannst Deine Arbeit lokal mit GPG{% if currentVersion == "free-pro-team@latest" or currentVersion ver_gt "enterprise-server@2.14" %} oder S/MIME{% endif %} signieren. {% data variables.product.product_name %} verifiziert diese Signaturen, damit andere Personen wissen, dass Deine Commits aus einer vertrauenswürdigen Quelle stammen.{% if currentVersion == "free-pro-team@latest" %} {% data variables.product.product_name %} signiert Commits automatisch, wenn Du sie über die {% data variables.product.product_name %}-Weboberfläche erstellt hast.{% endif %}'
redirect_from:
  - /articles/generating-a-gpg-key/
  - /articles/signing-commits-with-gpg/
  - /articles/managing-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
---

