---
title: Fehlerbehebung bei der Verifizierung einer Commit-Signatur
intro: 'Eventuell treten bei der lokalen Signatur von Commits für die Verifizierung auf {% data variables.product.product_name %} unerwartete Issues auf, die Du beheben musst.'
redirect_from:
  - /articles/troubleshooting-gpg/
  - /articles/troubleshooting-commit-signature-verification
mapTopic: true
versions:
  free-pro-team: '*'
  enterprise-server: '*'
---

